<%- include('./includes/header.ejs') %>

    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Add New Service</h6>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Add Service</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive p-5">

                        <form method="POST">

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Service Number</label>
                                    <select class="form-control" name="service_no" required>
                                        <% for(var i=0; i< 1001 ; i++) {%>
                                        <option value="<%= i %>"><%= i %></option>

                                        <% } %>
                                    </select>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <input type="text" name="route_id" id="route_id" style="display: none;"/>
                                    <input type="text" name="route_name" id="route_name" style="display: none;"/>
                                    <label for="validationCustom01">Route Name</label>
                                    <select type="text" class="form-control" onchange="setrouteValues(this.value)" name="wer">
                                        <% routes.forEach(function(r) { %>
                                            <option value="<%= r.route_name + '/' + r.id %>">
                                                <%= r.route_name %>
                                            </option>

                                            <% }); %>

                                    </select>

                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">Bus Number</label>
                                    <select class="form-control" name="bus_no" required>
                                        <% buses.forEach(function(r) { %>
                                            <option value="<%= r.bus_no %>">
                                                <%= r.bus_no %>
                                            </option>

                                            <% }); %>
                                    </select>

                                </div>

                                <div class="col-md-4 mb-3">
                                    <input type="text" name="driver_id" id="did" style="display: none;"/>
                                    <input type="text" name="driver_name" id="d_name" style="display: none;"/>
                                    <input type="text" name="driver_phone" id="d_phone" style="display: none;"/>
                                    <label for="validationCustom01">Select Driver</label>
                                    <select class="form-control" name="ddata" onchange="setdriverValues(this.value)"  required>
                                        <% drivers.forEach(function(r) { %>
                                            <option value="<%= r.name+'/'+r.phone+'/'+ r.id %>">
                                                <%= r.name + " ( "+ r.phone+ ")" %>
                                            </option>

                                            <% }); %>
                                    </select>

                                </div>




                            </div>

                            <button class="btn btn-primary" type="submit">Add Service</button>
                        </form>



                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">

                    </div>
                </div>
            </div>
        </div>


    </div>


<script>
    function setdriverValues(data){
        const myArr = data.split("/");
      console.log(myArr[0]);
      console.log(myArr[1]);
      console.log(myArr[2]);

      $('#did').val(myArr[2]);
      $('#d_name').val(myArr[0]);
      $('#d_phone').val(myArr[1]);



    }

    function setrouteValues(data){
        const myArr = data.split("/");
      console.log(myArr[0]);
      console.log(myArr[1]);
   

    
      $('#route_id').val(myArr[1]);
      $('#route_name').val(myArr[0]);

    }
</script>




    <%- include('./includes/footer.ejs') %>